@import url('https://fonts.googleapis.com/css2?family=Exo&family=Roboto&display=swap');

/* #region Utility CSS */

:root {
    /* Text Colours */
    --text-light: #fff;
    --text-dark: #555;
    --text-accent: #910000;

    /* Background Colours */
    --bg-light: #fafafa;
    --bg-dark: #555;
    --bg-accent: #910000;

    /* Misc Colours */
    --highlighted: #eeee00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-dark);
}

.active {
    border-bottom: 1px solid var(--highlighted);
}

/* #endregion */

/* #region Header / Nav */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5em 0;
    font-family: Exo, sans-serif;
    background-color: var(--bg-accent);
}

#header-logo-container a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: var(--text-light);
}

#header-logo-container a img {
    height: 40px;
}

#header-logo-container a h1 {
    text-transform: uppercase;
    padding-left: .25em;
    font-size: 25px;
}

#navbar-container {
    position: absolute;
    top: 0px;
    right: 0;
    background-color: var(--bg-accent);
    box-shadow: 5px 8px 8px #888888;
    transition: all 0.5s ease-in-out;
    z-index: -1;
}

#navbar-container ul {
    list-style: none;
    padding: .1em 1.5em;
    line-height: 3em;
    margin: .25em 1em;
}

#navbar-container li {
    text-align: center;
}

#menu-control {
    width: 28px;
    height: 28px;
}

#navbar-container li a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-light);
    font-size: 18px;
    transition: all 250ms ease-in-out;
}

#navbar-container li a:hover {
    color: var(--highlighted);
}

#menu-button {
    color: var(--text-light);
    font-size: 25px;
}

#menu-close-button {
    display: none;
    color: var(--text-light);
    font-size: 27px;
    z-index: 99;
}

#menu-button:hover,
#menu-close-button:hover {
    color: var(--highlighted);
}

/* #endregion */